body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #dfe3ee;
}
.live {
  color: #A9A9A9;
  font-style: none;
  font-size: 14px;
  font-weight: lighter;
}
#userName{
  top: 0px;
  display: inline;
  margin-right:170px;
  font-size: 14px;
  font-weight: bolder;
  /*line-height:1.5em;*/
  text-decoration: none;
  color: #3b5999;
}
.postTitle{
    margin-top:0;
    margin-bottom:0;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.38;
    width: 450px;
    height: 38px;
    /*display: inline;*/
    }
#postDate{
    margin-top:0px;
    margin-bottom:20px;
    font-size: 12px;
    color:#A9A9A9;
    font-weight: lighter;
    }
.container {
  margin-left:100px;
  top: 70px;
  left: 200px;
  background: white;
  width: 525px;
  height: 490px;
  border-radius: 3px/3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  -webkit-box-shadow: 0 3px 8px rgba (0, 0, 0, .25);
}
#like {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  background-color: white;
  border: none;
  font-size: 12px;
  font-weight: bolder;
}
#myPost {
  margin-top: 0px;
  margin-left: 0px;
  width: 500px;
  height: 359px;
  border-radius: 3px/3px;
  padding-right: 12px;
  /*border: */
}
.likes {
   margin-bottom: 5px;
   margin-left: 0px;
   font-size: 13x;
   color:#A9A9A9;
   font-weight: lighter
}
/* #profilePicture {
  height: 50;
  width: 50;
} */
